/*------- Main Divs --------*/

body{
  font-family: "Open Sans";
}

.main_grid{
	display: grid;
	grid-template-areas:
    	"header"
      "banner"
      "form"
      "tables"
      "events_feed"
      "footer";
    grid-gap: 15px;
    width: 90%;
    margin: 0 auto;
    font-family: "Open Sans";
    min-width: 250px;
    color: #696969;
}

/*------- Header -------*/

.header{
	grid-area: header;
	border-bottom: thin solid #f2f2f2;
}

.upper_header{
	height: 150px;
}

.mobile_menu_icon{
	height: 30px;
	width: 30px;
	padding: 10px;
	float: left;
	z-index: 4;
}

.mobile_menu_icon:hover, active, focus{
	filter:opacity(50%);
	cursor: pointer;
}

.mobile_menu_icon_image{
	width: 100%;
	height: 100%;
}

.message_notification_icon_image{
  display: inline-block;
  float: left;
  height: 30px;
  width: 30px;
  padding: 10px;
  filter: opacity(50%);
}

.message_notification_icon_image:hover{
  cursor: pointer;
  filter: opacity(75%);
}

.header_website_title{
	text-align: center;
 	font-size: 70px;
 	font-weight: 100;
  color: #85BF75;
  	
}

.header_user_information{
	float:right;
	font-size: 15px;
	margin: 10px;
}

/*------------ Menu -----------*/

.menu{
  background: #f9f9f9;
  list-style-type: none;
  width: 200px;
  padding: 0;
  margin: 5px;
  position: absolute;
  z-index: 100;
  display: none;

}

.menu button{
  padding: 5px 8px;
  color: #696969;
  text-align: left;
}

.menu button:hover,active{
  color: #85BF75;
}

.dropdown_menu button{
  display: block;
  color: #888888;
  margin-left: 10px; 
}

.dropdown_menu button:hover,active{
  color: #85BF75;
}

#categories_tab_container{
  display: none;
}

#admin_tab_container{
  display: none;
}

#submit_event_tab{
	display: none;
}

#edit_events_tab{
	display: none;
}

#admin_tab{
	display: none;
}

.menutab{
	background:none;
	font-style: 12px;
}

/*------- Banner ------*/

.banner{
	grid-area:banner;
  align-items: start;
	font-size: 20px;
	font-weight: 100;
	border-bottom: thin solid #f2f2f2;
  margin: 0 auto;
  height: auto;
}

.banner_image{
	max-width: 100%;
	height: auto;
	outline: 0;
}

/*-------- Events Feed ------*/

.events_feed{
	grid-area: events_feed;
  display: grid;
  grid-gap: 15px;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 500px;
  justify-items:center;
}


.events_feed .event {
  position: relative;
  width: 300px;
  height: 490px;
  border: thin solid #f2f2f2;
 }

.events_feed .event_image{
  display: block;
  object-fit: cover;
  width:300px;
  height:300px;
  border-bottom: thin solid #f2f2f2;
}

.event_title{
  font-weight: 400;
  font-size: 18px;
  color:black;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.event_brief_description{
  font-size: 13px;
  font-weight: 100;
  padding-left: 10px;
  padding-right: 10px;
  font-style: italic;
}

.event_info_header{
  min-width: 100%;
  display: inline-block;
  font-size: 13px;
  font-weight: 200;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.event_header #event_hour,
.event_header #event_place,
.event_header #event_date{
  display: inline-block;
}


.event_image_container {
  position: relative;
  width: 100%;
}


.events_feed .saved_event_bookmark_icon{
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50px;
  width: 50px;
  padding: 15px;
}

.event_association_name{
  position: absolute;
  bottom: 0;
  float: left;
  margin-top:32px; 
  padding: 10px;
  padding-bottom: 15px;
  font-size: 14px;
  font-weight: 100;
}

/*------ Footer -------*/

.footer{
	grid-area: footer;
	border-top: thin solid #f2f2f2;
	text-align: center;
	font-size: 9px;
  padding: 5px;
}




/*------- Form --------*/


.form_input_box{
  display: block;
  width: 100%;
}

.event_form{
  display: none;

  grid-area: form;
  grid-template-areas: "form_item";
  grid-template-columns: repeat(auto-fill,225px);
  grid-gap: 10px;
  grid-auto-flow: row;
  grid-auto-columns: 200px;

  justify-content: space-around;
  justify-items:center;
  align-items: start;

  background: #FFFFFF;
  padding: 20px;

}

.form input {
  border: 0;
  outline: 0;
  margin: 0;
  width: 100%;
  font-family: "Open Sans", "Bariol", Arial, sans-serif;
  background: #f2f2f2;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form select {
  font-family: "Open Sans", "Bariol", Arial, sans-serif;
  outline: 0;
  background: #f2f2f2;
  padding: 10px;
  border: none;
  box-sizing: border-box;
  font-size: 14px;
  width: 100%;

}

.form textarea {
  width: 100%;
  font-family: "Open Sans", "Bariol", Arial, sans-serif;
  outline: 0;
  background: #f2f2f2;
  border: 0;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  resize: none;
  height: 60px;
}

.small{
  width: 100%;
}

.normal{
  width: 100%;
}

.submit_event_form{
  position: absolute;
  margin-top: 100px;
}

.form .start_time_hour_text{
  float: left;
  width: 50%;
}
.form .start_time_hour{
  float:left;
  width: 95%;
}
.form .end_time_hour_text{
  text-align: right;
  width: 50%;
  float: right;
}

.form .end_time_hour{
  float:right;
  width: 95%;
  margin-left: auto;
  text-align: right;
}

#hours_container{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
}

.time_hour_encapsulation{
  display: flex;
  flex-flow: column;
}

#title, #date, #place, #brief_description,
#detailed_description, #contact_email,
#contact_phone_number{
  margin-top: 22.5px;
}

#category, #imageUrl{
  margin-top: 3.5px;
}


.form_button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  width: 100%;
  border: 0;
  padding: 15px;
  margin-bottom: 10px;
  margin-top: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

#cancel_button{
  background: white;
  margin-top: 22.5px;
  border: thin solid #C0C0C0;
  color: #C0C0C0;
}

#publish_button{
   margin-top: 22.5px;
   background: white;
   border: thin solid #85BF75;
   color: #85BF75;
}

#edit_button{
   margin-top: 22.5px;
   background: white;
   border: thin solid #85BF75;
   color: #85BF75;
}

#percent{
  float: right;
}

#cancel_button:hover{
  background: #DC143C;
  color: white;
}

#publish_button:hover{
  background: #85BF75;
  color: white;
}

#edit_button:hover{
  background: #85BF75;
  color: white;
}

/*-------- Modal Box -------*/

.message_modal_box{
  position: fixed; 
  z-index: 500;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  /*overflow: auto; */
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.message_modal_content{
  display: block;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  height: 200px;
}

.message_modal_close_icon{
  width: 15px;
  height: 15px;
  float: right;
  padding: 5px;
}

.message_modal_close_icon:hover{
  cursor: pointer;
  filter: opacity(75%);
}

.message_modal_action_button{
  margin-top: 15px;
  background: white;
  border: thin solid #85BF75;
  color: #85BF75;
  width: 200px;
  margin-top: 20px;
  float: right;
  padding: 10px;
}

.message_modal_action_button:hover{
  background: #85BF75;
  color: white;
}

.message_modal_text_line_1{
  margin-top: 40px;
  display: block;
  text-align: center;
}

.message_modal_text_line_2{
  padding-top: 20px;
  font-weight: bold;
}


/*------ Tables -------*/

#table_container{
  grid-area: tables;
}
table {
    font-family: "Open Sans", "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #85BF75;
    color: white;
    font-weight: normal;
    font-size: 13px;
    margin: auto 0;
}


table td{
  font-size: 12px;
}


.options_admin_panel_table{
  border: 0;
  color: white;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.table_options {
  min-width: 200px;
}

.options_admin_panel_table:hover{
  color:gray;
}

.user_options_admin_panel_table:active{
  color:black;
}

.activate_button{
  background-color: #85bf75;
}

.deactivate_button{
  background-color: #fcb164;
}

.block_button{
  background-color: blue;
}

.delete_user_button{
  background-color: #fc5c5c;
}

.delete_event_button{
  background-color: #fc5c5c;
}

.edit_event_button{
  background: none;
  border: thin solid #85BF75;
  color: #85BF75;
}

.edit_event_button:hover{
  border: thin solid gray;
  color: gray;
}

#body_email_verification_handler{
    margin-top: 1000px;
    top: 0;
    display: block;
    position: fixed;
    background-color: #85bf75;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    height: 100%;
}

/*------- Other -------*/

.action_button{
  background: white;
  border: thin solid #85BF75;
  color: #85BF75;
  padding: 4px 8px;
  font-family: "Roboto", "Open Sans";
}

.action_button:hover{
  cursor: pointer;
  background-color: #85BF75;
  color: white;
}

.standard_text{
  font-family: "Open Sans", Bariol, Arial;
  text-align: left;
  font-size: 14px;
  color:#696969;
  display: block;
}

label{
  font-size:12px;
  color:red;
}


/* =========== MEDIA QUERIES ============ */

/* ----------- Generic Tablet ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .menu{
      display: inline-block;
      position: relative;
      background: none;
      width: 100%;
      text-align: center;
    }

    .menu button{
      text-align: center;
    }

    .dropdown_menu{
      position: absolute;
      background: #f9f9f9;
    }

    .menu li{
      display: inline-block;
    }

    .mobile_menu_icon{
      display: none;
    }

    .x_close_icon{
      display: none;
    }

    .banner{
      display: flex;
      justify-content: space-between;

    }

    .banner_text{
      font-size: 30px;
      width: 30%;
    }

    .banner_image{
      width: 60%; 
      height: auto; 
    }

}


@media only screen 
  and (min-device-width: 650px) 
  and (-webkit-min-device-pixel-ratio: 2) {
     .banner{
      display: flex;
      justify-content: space-between;

    }

    .banner_text{
      font-size: 20px;
      width: 30%;
    }

    .banner_image{
      width: 60%; 
      height: auto; 
    }

}


